*{background-color: green;color: white;}
h1{text-transform: capitalize;}
.p-petama {text-align: justify;}
.p-kedua{text-decoration: underline;}
.p-tiga, .p-empat{text-align: center;}
.p-lima{text-decoration: line-through;}